<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intralox LLC</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Intralox Customer Issues Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/add">Add a new Issue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/add_solution">Add a new Solution </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/search">Smart Search</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About Project</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About!</h2>
                    <hr class="light">
                    <p class="text-faded"> </p>
                    <h1>
                        For Question # 1:</h1>
<p>
The CSFs of Intralox are:
Ensure Customer has the right product to solve their unique problems
Understand customer problems and resolve them quickly
Be able to get the new products out to market quickly.
</p>

<p>
The highest ranking process is Externalization. The second highest are Socialization for KDD, and Internalization.
</p>
<p>
Externalization can help convert tacit information in people’s brains to explicit form which then can be utilized by other engineers, and support techs to either quickly find solutions to that have already been created or use existing solutions to come up with a novel solution to a problem. Externalization most helpful in engineering as different processes and design guidelines can be externalized which then can be internalized by other engineers to iterate between designs faster. Externalization also applies just as well in sales and commercial service. Externalization of processes like SPIN selling techniques, processes of evaluating what value Intralox can bring to the customers etc can help other sales and customer service reps from better customer relations. 
</p>
<p>
Socialization for KDD can help employees uncover hidden information from data and find patterns. The findings can then be transformed into business rules that can be used in many applications. Lets see how KDD can help in each of the three CSFs:
</p>
<p>
TO ensure that the customer has the right product to solve their unique problem, having rules based on a training data set (data on what type of products the customers buy to solve what type of problems) can make finding the right product easy. The rule can be multiple If Then statements that eventually lead to one or more product recommendations.
</p>
<p>
The same principles apply for the CSFs of understanding customer problems and speed to market as well. Information from the past can either be converted into rules or broad classifications of problems that the techs can quickly filter through to get one or more case studies. They can study the case studies to figure out how to resolve customer problems.
</p>
<p>
Internalization is the process of converting information into tacit knowledge. This process helps employees make better judgements on both engineering and sales side. Internalization is very important because it will affect what the employees know and how they operate. THe more job specific knowledge employees internalize, the better they become at performing them. FOr example, an engineer who has internalized the design processes, can create much better designs faster than someone who has not internalized the design process.

</p>
<p>
One of the main CSFs that can be affected by a KM system is resolving customer problems. Because the company is global, and has support techs and engineers spread around the globe, externalizing the problems will help them  

</p>
<p>
Some of the factors that will impact on the design of knowledge management solutions are:
</p>
<h2>
organizational capabilities
</h2>
<p>
There are several  things that will affect the design of a KM solution at Intralox. First of all, the company is large enough that intralox can pull several employees from their day to day task to work on the KM project. This also means that Intralox can afford to encourage its employees to spend more time externalizing what they know without affecting immediate business results. In addition Intralox can also pull resources from the IT department of its parent company Laitram to work on the implementation and design of KM system. The company is divided into industry groups and the corss communication between different industry groups is poor. Making communications and sharing between different industry teams will be important for any KM solution design. 
</p>
<h2>
Culture
</h2>

1.Individual Initiative. All three departments have a high degree of individual initiative. The organization thrives with self managed people, so employees are encouraged to take individual initiative. This means that It will be important to make people understand the value of KM initiatives. However, once thats understood, implementation should be less challenging. 
 </p>
<p>
2.Risk Tolerance. Commercial department and Engineering department encourage their employees to voice their concerns. Disagreements over assumptions are generally a good thing. Sharing Disagreements can mean there will be online discourse that needs to be managed. However this also means the mistakes will be found out quickly.  
 </p>
<p>
3.Direction. This also goes back to the organization hiring self managed people. Because being self managed is a requirement to work at Intralox, very little direction is provided formally. Each individual must seek for the direction himself/herself. 
 </p>
<p>
4.Integration. There is a lot of integration between the commercial team and the engineering team because that’s the only way to effectively solve customer’s problems. Also most new ideas for the engineering team come from customers, so there is tight integration. However there is no integration between different industry teams in either department. 
 </p>
<p>
5.Management Support. High Management Support. This is also necessary because since most people are encouraged to be self managed, management support is highly necessary to get people successful. In addition, high level management has shown support for some pieces of KM such as equipment issues management, wiki etc.
 </p>
<p>

6. Control. As the organization keeps growing, the control has also increased, although there is generally still very little control. For example, there are guidelines for expenses but going over any guidelines for business reasons is not frowned upon. Less control on how employees operate means the KM processes that will be applied will need more documentation and training to ensure all employees will continue following the processes. In addition annual re-training may be necessary. 
 </p>
<p>
7/8. Identity and Reward System. Most employees identify as Intralox employee rather than by their profession. A part of the compensation is based on how well Intralox does. This is great for KM because KM will encourage Intralox’s organizational success, which will translate to employee success.
 </p>
<p>
 
9. Conflict Tolerance: In engineering department conflicts are encouraged, because there is a common understanding that everyone is trying to get to the right answer. The commercial team is less tolerant to conflicts. KM portals also rely on non author employees finding mistakes in the knowledgebase. A more conflict tolerance culture means this will be easier. 
</p>
<h2>
Existing Resources : IT Infrastructure
</h2>

<p>
Reach: Every person who works on campus has access to a desktop computer connected to the network. Anyone who works off campus is given either a phone and laptop or a desktop that can connect to the network via VPN.  Thus, there is one or more node per person available.  This connectivity will better facilitate the knowledge sharing and knowledge dispersion throughout the company.
Depth: Main forms of communication are email, phone, and web video. In addition, entire company shares network storage. Communications tend to be in depth. This indicates that there is alredy a sharing culture around the company. Email is a good choice for temporary sharing but bad for long term search, organization and retrival of knowledge.
</p>
<p> 
Richness: Communications tend to be personal. It usually consists of one person showing something to the other person. Because of the personal nature, feedback is quick between commercial and engineering. Intra company social networking is available, but not used as its not used friendly. A large accounting firm E&Y has leveraged their intra company social network to promote knowledge sharing. Finding a more user friendly social network will help with KM implementation.
</p>
<p>
Aggregation: There is very little aggregation. Most knowledge tends to be industry specific, and remains within the group that deals with specific industry, even though most of the times, the knowledge is very easily transferred.  Data mining is not performed. Commercial team collects some data on industry trends, but the data is not detailed. This causes the company to lose on valuable information that can be extracted from the data. A new KM system will need to account for this. 
</p>
<h2>
Existing Resources: People
</h2>
<p>
The Parent company of Intralox , Laitram has a IT department that can help intralox deploy a company wide KM solutions and maintain them over time. In addition, Intralox has recently hired a short term temporary employee to help implement engineering wiki. The expertise of this knowledge expert can be leveraged to get management buy in and spread knowledge sharing culture. In addition a cross-industry team called ‘wildcards’ exists in the engineering department that consists of programmers and software experts. They understand the technology and the engineering departmental needs very well to shape the KM solution.

</p>




<h1>
Question # 2
</h1>
<p>
We will solve the problem of information being silo’d in different industry teams in Customer Service Department. - Externalize. 
</p>
<p>
Each department is split into 5 groups by the industry they serve eg:Tire, Food, Packaging, etc. Lots of sharing in between teams. Information is somewhat silo’d within each industry team. 
</p>
<p>

The problems that customers face are different. However a lot of customers make the same sets of common mistakes. In addition, because of the silo’d nature of knowledge in how the problems have been solved in other industry teams, there is a lot of reinventing the wheel in different industry team. This knowledge management tool will allow customer service people to input customer problems, and how it was addressed. This KM tool will also allow customer service reps to add how well the solution worked, and how long they worked on it for long term tracking.  This will be stored in a database which other customer service reps can search and figure out how it has already been solved. Because of the 5 different teams reinventing the wheel, this should also show how the same problem was solved in multiple different ways. This way the best solution can be found and used in other similar applications. 
</p>
                    
                </div>
            </div>
        </div>
    </section>

    

    <section id="contact"  class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">24/7 Support Available for the portal!</h2>
                    <hr class="primary">
                    <p>If you get stuck or find that the portal doesn't work as expected, please call the following number! A IT support personnel will be happy to assist you.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@intralox-km-portal.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

</body>

</html>
